body {
    background-color: purple;

}

.text{
    width: 50%;
    max-height: none;
    background-color: red;
    padding: 40px;
    border: 10px solid white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.intro h1{
    font-style: italic;
    color: rgba(100, 200, 225, .60);

}

.response{
    max-width: 100%;
    max-height: max-content;
    overflow: auto;


}
.response h2 {
    margin: 0;
    font-family: 'Font Name', Times New Roman, serif;
}

strong{
    color: aliceblue;
    font-style: oblique;
}


